body{
    background-color:#333;
    font-family: monospace;
    color: #C9CCD5;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .name {
    font-size: 17px;
    margin-left: 10px;
  
  }
  
  .img1 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
  }
  
  .about {
    opacity: 100;
    margin-bottom: 100px;
    justify-content: center;
    float: center;
  
  }
  
  .dev {
    font-size: 30px;
    font-weight: 600;
  
  }
  .work button{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }
  /* .img5{
    float: right;
    margin-left:400px;
    margin-top: 30%;
  } */
  
  h1:hover{
    color: blueviolet;
  }
  h1{
    color: white;
  }
  /*styling of contact section*/
#contact{
  margin-top: 3%;
  background-color: white;
  margin-bottom: 2em;
}

.contact-heading{
  font-weight: 900;  
  font-family: 'Rock Salt', cursive;
  color: wheat;
  padding-bottom: 2%;
  text-align: center;
}

.contact-form-style{
  border-color: wheat !important;
}

#send-msg{
  background-color: wheat!important;
}
.contact-form{
  text-align: center;
}

.form-control{
  border: 2px solid wheat;
  border-radius: 20px;
  background-color: transparent;
}

input::placeholder {
  color: wheat!important;
  opacity: 0.6 !important;
}

.form-control::placeholder {
  color: wheat !important;
  opacity: 0.6 !important;
}

.submit-contactform{
  background-color:black ;
}

.fa-phone{
  animation:  icon 5s ease infinite;
}

@keyframes icon {
    25%{
        transform: translateY(-1.5rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}

.fa-circle-arrow-up{
  float: right;
  color: wheat;
}
.fa-circle-arrow-up:hover{
  color: black;
  
}





